*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 80px;
    width: 100%;
    background-color: rgb(48, 202, 107);
    color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 20px 0;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    font-size: 20px;
    font-weight: bold;
}
a:hover{
    color: #000;
}
ul{
    display: flex;
}
li{
    margin: 0 25px;
    list-style: none;
}
footer{
    height: 80px;
    width: 100%;
    background-color: rgb(48, 202, 107);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.content{
    width: 80%;
    margin: 0 auto;
}